<%= render "shared/header"%>
<div class="main">

  <%# ナビゲーション %>
  <div class="nav-contents">
    <form class="search-form" action="#">
      <input class='input-box' placeholder='キーワードから探す'>
      <button class="search-button">
        検索<%# <%= image_tag "search.png", class:"search-icon" %>
      </button>
    </form>
  </div>
  <%# ナビゲーション %>

  <%# アイデア投稿 %>
  <div class="idea-contents">
    <div class="top-content">
      <div><%= link_to "新しいアイデアを投稿", new_idea_path, class:"new-post-btn"%></div>
    </div>
    <div class="post-area">
     <%# 投稿あり %>
      <% if @ideas.present?%>
        <% @ideas.each do |idea|%>
          <div class="post">
            <div class="head-post">
              <div class='img-content'>
                <% if idea.user.image.present?%>
                  <%= image_tag idea.user.image ,class:"user-icon" %>
                <% else %>
                  <%# /ダミー画像 %>
                  <%#= image_tag "#" ,class:"report-flag-icon" ,width:"20",height:"20"%>
                <% end %>
              </div>
              <div><%= link_to "#{idea.user.nickname}", "#{user_path(idea.user_id)}", class:"user-nickname"%></div>
              <div class="created-date"><%= idea.created_at.strftime('%Y/%m/%d')%></div>
            </div>
            <div class="body-post">
              <div><%= link_to "#{idea.title}","#{idea_path(idea.id)}",class:"idea"%></div>
            </div>
            <div class="foot-post">
              <div class="price">¥<%= idea.price%></div>
              <div class="category"><%= idea.category.name%></div>
            </div>
          </div>
        <% end %>
      <% end %>
      <%# 投稿あり %>

      <%# 投稿なし %>
      <% if @ideas.blank?%>
        <div class="post">
          <div class="head-post">
            <div class= "user-icon"><%#= image_tag "#" ,class:"report-flag-icon" ,width:"20",height:"20"%></div>
            <div class="user-nickname">hoge太郎</div>
            <div class="created-date">2020/01/01</div>
          </div>
          <div class="body-post">
            <div class="idea">投稿してください</div>
          </div>
          <div class="foot-post">
            <div class="price">¥100</div>
            <div class="category">教育</div>
          </div>
        </div>
      <% end %>
      <%# 投稿なし %>
    </div>
  </div>
  <%# アイデア投稿 %>

  <%# アイデア募集 %>
  <div class="recrits-contents">
    <div class="top-content">
      <div><%= link_to "新しいアイデアを募集", new_recruit_path, class:"new-post-btn"%></div>
    </div>
    <div class="post-area">
      <%# 投稿あり %>
      <% if @recruits.present?%>
        <% @recruits.each do |recruit|%>
          <div class="post">
            <div class="head-post">
              <div class='img-content'>
                <% if recruit.user.image.present?%>
                  <%= image_tag recruit.user.image ,class:"user-icon" %>
                <% else %>
                  <%# /ダミー画像 %>
                  <%#= image_tag "#" ,class:"report-flag-icon" ,width:"20",height:"20"%>
                <% end %>
              </div>
              <div><%= link_to "#{recruit.user.nickname}","#{user_path(recruit.user_id)}", class:"user-nickname"%></div>
              <div class="created-date"><%= recruit.created_at.strftime('%Y/%m/%d')%></div>
            </div>
            <div class="body-post">
              <div><%= link_to "#{recruit.theme}","#{recruit_path(recruit.id)}",class:"idea"%></div>
            </div>
            <div class="foot-post">
              <div class="price-content">
                <div class="price">買取価格の範囲</div>
                <div class="price">¥<%= recruit.price%></div>
              </div>
              <div class="category"><%= recruit.category.name%></div>
            </div>
          </div>
        <% end %>
      <% end %>
      <%# 投稿あり %>

      <%# 投稿なし %>
      <% if @recruits.blank?%>
        <div class="post">
          <div class="head-post">
            <div class= "user-icon"></div>
            <div class="user-nickname">hoge太郎</div>
            <div class="created-date">2020/01/01</div>
          </div>
          <div class="body-post">
            <div class="idea">募集してください</div>
          </div>
          <div class="foot-post">
            <div class="price">¥10~100</div>
            <div class="category">教育</div>
          </div>
        </div>
      <% end %>
      <%# 投稿なし %>
    </div>
  </div>
  <%# アイデア募集 %>
</div>

<%= render "shared/footer"%>