<%= render "shared/header" %>
<%= @idea.liked_users.count %>
  <%# アイデアの概要 %>
<div class="idea-show">
  <div class="idea-box">
    <h2 class="title">
      <%= @idea.title %>
    </h2>

    <div class="idea-price-box">
      <div class="idea-price">
        ¥<%= @idea.price%>
      </div>
    </div>

    <div class='idea-img-content'>
      <% if @idea.image.present?%>
        <% if @idea.idea_purchase.present? || current_user.id == @idea.user_id %>
          <%= image_tag @idea.image ,class:"idea-img" %>
        <% else %>
          <%= image_tag "idea_image" ,class:"idea-img" %>
        <% end %>
      <% else %>
        <%= image_tag "idea_noimage" ,class:"idea-img" %>
      <% end %>
    </div>

    <table class="idea-info-table">
      <tbody>
        <tr>
          <th class="detail-idea">アイデアの内容</th>
          <% if @idea.idea_purchase.present? || current_user.id == @idea.user_id %>
            <td class="detail-value"><%= @idea.idea %></td>
          <% else %>
            <td class="detail-value">購入後に見られます</td>
          <% end %>
        </tr>
        <tr>
          <th class="detail-idea">その他</th>
          <% if @idea.idea_purchase.present? || current_user.id == @idea.user_id %>
            <td class="detail-value"><%= @idea.other %></td>
          <% else %>
            <td class="detail-value">購入後に見られます</td>
          <% end %>
        </tr>
        <tr>
          <th class="detail-idea">募集者</th>
          <td class="detail-value"><%= @idea.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-idea">カテゴリー</th>
          <td class="detail-value"><%= @idea.category.name %></td>
        </tr>
      </tbody>
    </table>
    <%# /アイデアの概要 %>

    <%# /編集・削除・購入ボタン %>
    <% if user_signed_in? %>
      <% if current_user.id == @idea.user_id && @idea.idea_purchase.blank?%>
      <div class="signed-in-btn">
        <%= link_to 'アイデアの編集', edit_idea_path(@idea.id), class: "idea-orange-btn1"%>
        <%= link_to '削除', idea_path(@idea.id), method: :delete, class:'idea-destroy' %>
      </div>
      <% elsif current_user.id != @idea.user_id && @idea.idea_purchase.blank?%>
        <%= link_to '購入画面に進む', idea_idea_purchases_path(@idea.id) ,class:"idea-orange-btn2"%>
      <% else %>
        <%= link_to 'トップページに戻る', root_path ,class:"idea-orange-btn2"%>
      <% end %>
    <% end %>
    <%# /編集・削除・購入ボタン %>

    <%# Good・Badボタン %>
    <% if @idea.idea_purchase.present?%>
      <div class="option">
        <div>
          <%= button_to 'Good', idea_likes_path(@idea),class:"like-btn" %>
        </div>
        <div>
          <%= button_to 'Bad', idea_dislikes_path(@idea),class:"dislike-btn" %>
        </div>
      </div>
    <% end %>
    <%# Good・Badボタン %>
  </div>
</div>

<%= render "shared/footer" %>