<%= render "shared/header" %>

<div class="ideas-sell-contents">
  <header class="ideas-sell-header">
    <%# <%= link_to image_tag('furima-logo-color.png' , size: '185x50'), "/" %>
  </header>
  <div class="ideas-sell-main">
    <h2 class="ideas-sell-title">アイデアの情報を入力</h2>
      <%= form_with model: [@recruit, @tweet], local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
      
      <div class="new-ideas">
        <div class="weight-bold-text">
          アイデア
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :idea, class:"ideas", placeholder: ""  %>
        <div class="weight-bold-text">
          アイデアの説明
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :explain, class:"idea-explain", placeholder: "アイデアの内容   （例）〜してくれるアプリ" %>
        <div class="weight-bold-text">
          その他
        </div>
        <%= f.text_area :other, class:"idea-other", placeholder: "そのほかに何かあれば記入してください" %>
        <div class="img-upload">
          <div class="weight-bold-text">
            関連画像(関連する画像があれば添付してください)
          </div>
          <div class="click-upload">
            <p>
              クリックしてファイルをアップロード
            </p>
            <%= f.file_field :image, id:"idea-image" %>
            <div id="image-list", class= "preview-image"></div>
          </div>
        </div>
      </div>
      <div class="sell-btn-contents">
        <%= f.submit "投稿する" ,class:"sell-btn" %>
      </div>
      <% end %>
  </div>
</div>

<%= render "shared/footer" %>