<%= render "shared/header" %>
<div class="main">
  <div class="contents row">
    <% if current_user.id == @user.id %>
    <div class="tweet-index">
      <h2 class="h"><%= @nickname %>さんの購入アイデア一覧</h2>
      <div class="post-area">
        <% @idea_purchases.each do |idea_purchase| %>
          <a href="/ideas/<%= idea_purchase.idea_id%>",class="idea-box", style="text-decoration:none; color:black;">
            <%= render partial: "shared/idea", locals: { idea: idea_purchase.idea } %>
          </a>
        <% end %>
      </div>
      <% end %>
    </div>

    <% if current_user.id == @user.id %>
    <div class="idea-index">
      <h2 class="h"><%= @nickname %>さんのアイデア一覧</h2>
      <div class="post-area">
        <% @ideas.each do |idea| %>
          <a href="/ideas/<%= idea.id%>",class="idea-box", style="text-decoration:none; color:black;">
            <%= render partial: "shared/idea", locals: { idea: idea } %>
          </a>
        <% end %>
      </div>
      <% end %>
    </div>
    
    <div class="recruit-index">
      <h2 class="h"><%= @nickname %>さんの募集投稿一覧</h2>
      <div class="post-area">
      <% @recruits.each do |recruit|%>
        <a href="/recruits/<%= recruit.id%>",class="recruit-box", style="text-decoration:none; color:black;">
          <%= render partial: "shared/recruit", locals: { recruit: recruit } %>
        </a>
      <% end %>
      </div>
    </div>

    <% if current_user.id == @user.id %>
    <div class="tweet-index">
      <h2 class="h"><%= @nickname %>さんの募集に対するアイデア一覧</h2>
      <div class="post-area">
        <% @tweets.each do |tweet|%>
          <a href="/recruits/<%= tweet.recruit_id%>",class="tweet-box", style="text-decoration:none; color:black;">
            <%= render partial: "shared/tweet", locals: { tweet: tweet } %>
          </a>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>
