<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class="servise-info">
    <p class="servise-explain1">
      <div class="top">
        <a href="/" class="servise-name">
          アイデアアップ
        </a>
        <div class="top-right">
          <div class="nav-contents">
            <%= form_with(url: search_ideas_path, local: true, method: :get, class: "search-form") do |f| %>
              <%= f.text_field :keyword, placeholder: "キーワードから探す", class: "input-box" %>
              <%= image_submit_tag "search.png" , class:"search-button"%>
            <% end %>
          </div>
          <ul class='user-contents'>
            <% if user_signed_in? %>
            <li><%= link_to "#{current_user.nickname}""さん", "#{user_path(current_user)}", class: "user-name" %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
            <% else %>
            <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
            <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </p>
  </div>
</header>