<h2 class="title">
  <%= idea.title %>
</h2>
<div class='item-img-content'>
  <% if idea.image.present?%>
    <%= image_tag idea.image ,class:"item-box-img" %>
  <% else %>
    <%# /ダミー画像 %>
    <%#= image_tag "#" ,class:"report-flag-icon" ,width:"20",height:"20"%>
  <% end %>
</div>
<div class="idea-idea-box">
    <span>アイデアの内容</span>
    <span><%= idea.idea%></span>
</div>
<div class="idea-other-box">
  <span>その他</span>
  <span><%= idea.other %></span>
</div>
<div class="idea-price-box">
  <span>アイデアの価格</span>
  <span>¥<%= idea.price %></span>
</div>
<div class="idea-nickname-box">
  <span>募集者</span>
  <span><%= idea.user.nickname %></span>
</div>
<div class="idea-category-box">
  <span>カテゴリー</span>
  <span><%= idea.category.name %></span>
</div>