<div class="recruit-post">
  <div class="post-left">
    <% if recruit.user.image.present?%>
      <%= image_tag recruit.user.image ,class:"user-icon" %>
    <% else %>
      <%= image_tag "icon_noimage" ,class:"user-icon"%>
    <% end %>
  </div>
  <div class="post-right">
    <div class="post-head">
      <div class="user-nickname"><%= recruit.user.nickname%></div>
      <div class="created-date"><%= recruit.created_at.strftime('%Y/%m/%d')%></div>
    </div>
    <div class="post-body">
      <div class="recruit"><%= recruit.theme%></div>
    </div>
    <div class="post-foot">
      <div class="price-content">
        <div class="price-range">買取価格の範囲</div>
        <div class="price">¥<%= recruit.price%></div>
      </div>
      <div class="category"><%= recruit.category.name%></div>
    </div>
  </div>
</div>