<div class="tweet">
  <div class="head-tweet">
    <div class="user-nickname"><%= tweet.user.nickname %></div>
    <div class="created-date"><%= tweet.created_at.strftime('%Y/%m/%d')%></div>
  </div>
  <div class="body-tweet">
    <div class="tweet-idea"><%= tweet.idea%></div>
    <div class="tweet-explain"><%= tweet.explain%></div>
  </div>
  <div class="foot-tweet">
    <div class="tweet-other"><%= tweet.other%></div>
  </div>
</div>
