<%= render "shared/header" %>
<% breadcrumb :edit_recruit ,@recruit%>
<%= breadcrumbs separator: " &rsaquo; " %>

<div class="recruit-contents">
  <header class="recruit-header">
    <%# <%= link_to image_tag('furima-logo-color.png' , size: '185x50'), "/" %>

  </header>
  <div class="recruit-main">
    <h2 class="recruit-title">アイデア募集の内容を編集</h2>
    <%= form_with model:@recruit , url:recruit_path(@recruit.id) ,local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <%# アイデアのテーマや買取価格範囲 %>
    <div class="new-recruits">
      <div class="weight-bold-text">
        募集するアイデアのテーマ
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :theme, class:"recruit-theme", id:"recruit-theme", placeholder:"「〜のような商品が欲しい」といったアイデアを募集しています" %>
      <div class="recruits-other">
        <div class="weight-bold-text">
          その他(必要事項など)
        </div>
        <%= f.text_area :other, class:"recruit-other", id:"recruit-other", placeholder:"そのほかに何かあれば記入してください" %>
      </div>
    </div>

    <div class="recruit-detail">
      <div class="weight-bold-text">
        カテゴリー
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"idea-category"}) %>
    </div>

    <div class="buy-price">
      <div class="weight-bold-text question-text">
        <span>買取価格の範囲</span>
        <span class="indispensable">必須</span>
      </div>
      <div class="price-contents">
        <span class="buy-yen">¥</span>
        <%= f.text_field :price, class:"price-input", id:"recruit-price", placeholder:"例）50 ~ 200" %>
      </div>
    </div>
    <%# アイデアのテーマや買取価格範囲 %>

    <%# 下部ボタン %>
    <div class="recruit-btn-contents">
      <%= f.submit "編集する" ,class:"recruit-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>
</div>

<%= render "shared/footer" %>