<%= render "shared/header" %>

  <%# アイデア募集の概要 %>
<div class="recruit-show">
  <div class="recruit-box">
    <h2 class="theme">
      <%= @recruit.theme %>
    </h2>

    <table class="recruit-info-table">
      <tbody>
        <tr>
          <th class="detail-recruit">買取価格の範囲</th>
          <td class="detail-value">¥<%= @recruit.price %></td>
        </tr>
        <tr>
          <th class="detail-recruit">その他</th>
          <td class="detail-value"><%= @recruit.other %></td>
        </tr>
        <tr>
          <th class="detail-recruit">募集者</th>
          <td class="detail-value"><%= @recruit.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-recruit">カテゴリー</th>
          <td class="detail-value"><%= @recruit.category.name %></td>
        </tr>
      </tbody>
    </table>
    <%# /アイデア募集の概要 %>

    <%# /編集・削除 %>
    <% if user_signed_in? %>
      <% if current_user.id == @recruit.user_id %>
      <div class="signed-in-btn">
        <%= link_to '募集内容の編集', edit_recruit_path(@recruit.id), class: "recruit-orange-btn"%>
        <%= link_to '削除', recruit_path(@recruit.id), method: :delete, class:'recruit-destroy' %>
      </div>
      <% else current_user.id != @recruit.user_id %>
        <%= link_to 'アイデアを投稿する', new_recruit_tweet_path(@recruit.id) ,class:"recruit-orange-btn2"%>
      <% end %>
    <% end %>
    <%# /編集・削除 %>



  <%# /アイデア投稿一覧%> 
  <div class="tweet-content">
    <div class="tweet-area">
      <% @tweets.each do |tweet|%>
        <div class="tweet">
          <div class="tweet-left">
            <% if tweet.user.image.present?%>
              <%= image_tag tweet.user.image ,class:"user-icon" %>
            <% else %>
              <%= image_tag "icon_noimage" ,class:"user-icon"%>
            <% end %>
          </div>
          <div class="tweet-center">
            <div class="tweet-head">
              <div><%= link_to "#{tweet.user.nickname}", "#{user_path(tweet.user_id)}", class:"user-nickname"%></div>
              <div class="created-date"><%= tweet.created_at.strftime('%Y/%m/%d')%></div>
            </div>
            <div class="tweet-body">
                <p class="tweet-idea"><span style="font-weight:bold;">アイデア：</span><%= tweet.idea%></p>
                <p class="tweet-explain"><span style="font-weight:bold;">説明：</span><%= tweet.explain%></p>
                <p class="tweet-other"><span style="font-weight:bold;">その他：</span><%= tweet.other%></p>
            </div>
            <div class="tweet-foot">
              <%# /編集・削除 %>
              <% if user_signed_in? %>
                <% if current_user.id == tweet.user_id && tweet.tweet_purchase.blank?%>
                  <%= link_to 'アイデアの編集', edit_recruit_tweet_path(@recruit.id), class: "tweet-orange-btn"%>
                  <%= link_to '削除', tweet_path(tweet.id), method: :delete, class:'tweet-destroy' %>
                <% elsif current_user.id == @recruit.user_id && tweet.tweet_purchase.blank? %>
                  <%= link_to '購入画面に進む', recruit_tweet_tweet_purchases_path(@recruit.id,tweet.id) ,class:"tweet-purchase"%>
                <%else current_user.id != tweet.user_id && tweet.tweet_purchase.present?%>
                  <span style="color:red;font-weight:bold;">購入済み</span>
                <% end %>
              <% end %>
              <%# /編集・削除 %>
            </div>
          </div>
          <div class="tweet-right">
            <div class='idea-img-content'>
              <% if tweet.image.present?%>
                  <%= image_tag tweet.image ,class:"tweet-img" %>
              <% else %>
                <%= image_tag "idea_noimage" ,class:"tweet-img" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%# /アイデア投稿一覧%> 
  <div class="idea-content-foot">
    <a href="/" class="a">トップページに戻る</a>
  </div>
</div>

<%= render "shared/footer" %>