<%= render "shared/header" %>

  <%# アイデア募集の概要 %>
<div class="recruit-show">
  <div class="recruit-box">
    <h2 class="theme">
      <%= @recruit.theme %>
    </h2>
    <%# <div class='item-img-content'> %>
      <%# <%= image_tag  ,class:"item-box-img" %>
    <%# </div> %>
    <div class="recruit-price-box">
      <span>買取価格の範囲</span>
      <span>¥<%= @recruit.price%></span>
    </div>
    <div class="recruit-other-box">
      <span>その他</span>
      <span><%= @recruit.other %></span>
    </div>
    <div class="recruit-other-box">
      <span>募集者</span>
      <span><%= @recruit.user.nickname %></span>
    </div>
    <div class="recruit-other-box">
      <span>カテゴリー</span>
      <span><%= @recruit.category.name %></span>
    </div>
    <%# /アイデア募集の概要 %>

    <%# /編集・削除 %>
    <% if user_signed_in? %>
      <% if current_user.id == @recruit.user_id %>
        <%= link_to '募集内容の編集', edit_recruit_path(@recruit.id), class: "recruit-red-btn"%>
        <p class='or-text'>or</p>
        <%= link_to '削除', recruit_path(@recruit.id), method: :delete, class:'recruit-destroy' %>
      <% end %>
    <% end %>
    <%# /編集・削除 %>

    <div class="option">
      <div class="favorite-btn">
        <%#= image_tag "#" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <%#= image_tag "#" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切なアイデア募集の通報</span>
      </div>
    </div>
  </div>

  <%# /アイデア投稿 %>
  <div class="tweet-box">
    <h2 class="ideas-sell-title">アイデアの情報を入力</h2>
      <% if current_user %>
        <%= form_with model: [@recruit, @tweet], local: true do |f| %>

        <%= render 'shared/error_messages', model: f.object %>
        
        <div class="new-ideas">
          <div class="weight-bold-text">
            アイデア
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_area :idea, placeholder: "コメントする", rows: "2" %>
          <div class="weight-bold-text">
            アイデアの説明
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_area :explain, placeholder: "コメントする", rows: "2" %>
          <div class="weight-bold-text">
            その他
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_area :other, placeholder: "コメントする", rows: "2" %>
          <div class="img-upload">
            <div class="weight-bold-text">
              関連画像(関連する画像があれば添付してください)
            </div>
            <div class="click-upload">
              <p>
                クリックしてファイルをアップロード
              </p>
              <%= f.file_field :image, id:"idea-image" %>
              <div id="image-list", class= "preview-image"></div>
            </div>
          </div>
        </div>
        <div class="sell-btn-contents">
          <%= f.submit "投稿する" ,class:"sell-btn" %>
        </div>
        <% end %>
      <% else%>
        <strong><p>※※※アイデアの投稿には新規登録/ログインが必要です※※※</p></strong>
      <% end %>
  <%# /アイデア投稿%> 

  <%# /アイデア投稿一覧%> 
  <div class="tweet-area">
  <h4>＜アイデア一覧＞</h4>
    <% if @tweets.present?%>
      <% @tweets.each do |tweet|%>
        <div class="tweet">
          <div class="head-tweet">
            <div class= "user-icon"></div>
            <div><%= link_to "#{tweet.user.nickname}","#", class:"user-nickname"%></div>
            <div class="created-date"><%= tweet.created_at.strftime('%Y/%m/%d')%></div>
          </div>
          <div class="body-tweet">
            <div class="tweet-idea"><%= tweet.idea%></div>
            <div class="tweet-explain"><%= tweet.explain%></div>
          </div>
          <div class="foot-tweet">
            <div class="tweet-other"><%= tweet.other%></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%# /アイデア投稿一覧%> 
</div>