<%= render "shared/header" %>

  <%# アイデア募集の概要 %>
<div class="recruit-show">
  <div class="recruit-box">
    <h2 class="theme">
      <%= @recruit.theme %>
    </h2>
    <%# <div class='item-img-content'> %>
      <%# <%= image_tag  ,class:"item-box-img" %>
    <%# </div> %>
    <div class="recruit-price-box">
      <span>買取価格の範囲</span>
      <span>¥<%= @recruit.price%></span>
    </div>
    <div class="recruit-other-box">
      <span>その他</span>
      <span><%= @recruit.other %></span>
    </div>
    <div class="recruit-other-box">
      <span>募集者</span>
      <span><%= @recruit.user.nickname %></span>
    </div>
    <div class="recruit-other-box">
      <span>カテゴリー</span>
      <span><%= @recruit.category.name %></span>
    </div>
    <%# /アイデア募集の概要 %>

    <%# /編集・削除 %>
    <%# if user_signed_in? %>
      <%# if current_user.id == @recruit.user_id && @recruit.purchase.blank? %>
        <%#= link_to '商品の編集', edit_recruit_path(@recruit.id), class: "recriit-red-btn"%>
        <%# <p class='or-text'>or</p> %>
        <%#= link_to '削除', recruit_path(@recruit.id), method: :delete, class:'recruit-destroy' %>
      <%# end %>
    <%# end %>
    <%# /編集・削除 %>

    <div class="option">
      <div class="favorite-btn">
        <%#= image_tag "#" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <%#= image_tag "#" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切なアイデア募集の通報</span>
      </div>
    </div>

    <%# /アイデア投稿 %>
    <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <button type="submit" class="comment-btn">
        <%#= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>投稿する<span>
      </button>
    </form>
    <%# /アイデア投稿 %>
  </div>
  </div>
</div>